*{
margin: 0;
padding: 0;  
font-family: Verdana, Geneva, Tahoma, sans-serif;  
box-sizing: border-box;
}

body{
background: #850F8D;    
}
.container{
    border: 2px solid white;
    height:auto;
    padding:5%;
    width: 70%;
    margin: 100px auto;
}
.row1{
height: 20%;   
display: flex; 
justify-content: center;
align-items: center;
}

.row1 h2{
    color: white;
    font-size: 1.3rem;
}
.row1 img{
    width: 15%;
    height: 15%;
    margin-right: 5%;
}

.btn{
    display: flex;
    align-items: center;
    padding: 2% 4% 2% 0.5%;
    background: linear-gradient(#9418fd , #571094);
    color:white;
    border-radius: 15px;
    font-weight: 600;
    border: none;
    outline: none;
    margin: 30px 0 20px;
    cursor: pointer;
}

.input-box{   
position: relative;
width: 80%;
height: 300px;
background: white;
padding: 20px;
margin: 10px auto;
outline: none;
border-radius: 5px;
}
.delete-icon{
    position: absolute;
    bottom:15px;
    right: 20px;
    cursor: pointer;
    height: 20px;
    width: 20px;
}